@model List<EcomProject_JimmyRebecca.Models.LineItem>
<div>
    <h3>My cart: </h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Select(m => m.Product.ProductName))
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Select(m => m.Quantity))
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var li in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => li.Product.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => li.Quantity)
                    </td>
                    <td>
                        <a asp-action="Delete" asp-controller="LineItem" asp-route-id="@li.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
