@page
@model EcomProject_JimmyRebecca.Pages.Profile.DetailsModel
@{
    ViewData["Title"] = "Details";
}
<h2>Details</h2>
<div>
    <h4>UserProfile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserProfile.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserProfile.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserProfile.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserProfile.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserProfile.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserProfile.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserProfile.AccountCreation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserProfile.AccountCreation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserProfile.Birthday)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserProfile.Birthday)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserProfile.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserProfile.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserProfile.LovesCats)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserProfile.LovesCats)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserProfile.Password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserProfile.Password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserProfile.PaswordConfirmation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserProfile.PaswordConfirmation)
        </dd>
    </dl>
</div>
<div>
</div>
