@model EcomProject_JimmyRebecca.Models.Product
@using Microsoft.AspNetCore.Identity
@using EcomProject_JimmyRebecca.Models
@inject UserManager<ApplicationUser> UserManager

<div class="w-100 card-container d-flex justify-content-center flex-wrap">
    <div class="card w-25" style="width: 18rem;">
        <img class="card-img-top" src="@Model.image_url" alt="@Model.ProductName">
        <div class="card-body">
            <h5 class="card-title">@Model.ProductName</h5>
            <p class="card-text">@Model.Description</p>
            <p class="card-text">Suggested Donation: @Model.SuggestedDonation</p>
            <form asp-action="Create" asp-controller="LineItems" method="post">
                <input type="hidden" name="productId" value="@Model.ID" />
                <input type="hidden" name="userId" value="@UserManager.GetUserId(User)" />
                <label name="quantity"></label>
                <select name="quantity" asp-items="@Html.GetEnumSelectList<EcomProject_JimmyRebecca.Models.Quantity>()"></select>
                @if (Model.IsCat)
                {
                    <button type="submit">Leash this cat!</button>
                }
                else
                {
                    <button type="submit">Add to Litterbox</button>
                }
            </form>
        </div>
    </div>
</div>
<div class="text-center">
    <a asp-action="Index">Back to List</a>
</div>
