@model EcomProject_JimmyRebecca.Models.Product
<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SuggestedDonation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SuggestedDonation)
        </dd>
    </dl>
    @if (Model.IsCat)
    {
        <a asp-action="Checkout" asp-controller="CatAdoption" asp-route-id="@Model.ID">Adopt this cat!</a>
    }
    else
    {
        <a asp-action="Checkout" asp-controller="Basket" asp-route-id="@Model.ID">Add to Basket</a>
    }
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
