@model EcomProject_JimmyRebecca.Models.Product
@using Microsoft.AspNetCore.Identity
@using EcomProject_JimmyRebecca.Models
@inject UserManager<ApplicationUser> UserManager
<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SuggestedDonation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SuggestedDonation)
        </dd>
    </dl>
    <form asp-action="Create" asp-controller="LineItems" method="post">
        <input type="hidden" name="productId" value="@Model.ID" />
        <input type="hidden" name="userId" value="@UserManager.GetUserId(User)" />
        <label name="quantity"></label>
        <select name="quantity" asp-items="@Html.GetEnumSelectList<EcomProject_JimmyRebecca.Models.Quantity>()"></select>
        @if (Model.IsCat)
        {
            <button type="submit">Adopt this cat!</button>
        }
        else
        {
            <button type="submit">Add to Basket</button>
        }
    </form>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
