@model EcomProject_JimmyRebecca.Models.Product
@using Microsoft.AspNetCore.Identity
@using EcomProject_JimmyRebecca.Models
@inject UserManager<ApplicationUser> UserManager
<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SuggestedDonation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SuggestedDonation)
        </dd>
    </dl>
    <form method="post">
    @if (Model.IsCat)
    {
        <button type="submit" asp-action="Create" asp-controller="LineItems" asp-route-productId="@Model.ID" asp-route-userId="@UserManager.GetUserId(User)">Adopt this cat!</button>
    }
    else
    {
        <button type="submit" asp-action="Create" asp-controller="LineItems" asp-route-productId="@Model.ID" asp-route-userId="@UserManager.GetUserId(User)">Add to Basket</button>
    }
    </form>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
