@model IEnumerable<EcomProject_JimmyRebecca.Models.Product>
@using Microsoft.AspNetCore.Identity
@using EcomProject_JimmyRebecca.Models
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

<div class="mw-100 d-flex justify-content-between">
    <div class="w-78 mw-100 card-container d-flex justify-content-center flex-wrap">
        @foreach (var item in Model)
        {
            <div class="card w-25" style="width: 18rem;">
                <img class="card-img-top" src="@Html.DisplayFor(modelItem => item.image_url)" alt="@Html.DisplayFor(modelItem => item.ProductName)">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.ProductName)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                    <p class="card-text">Suggested Donation: @Html.DisplayFor(modelItem => item.SuggestedDonation)</p>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.ID">Details</a>
                </div>
            </div>
        }
    </div>
    @if (SignInManager.IsSignedIn(User))
    {
        <div>
            @await Component.InvokeAsync("ViewCart", UserManager.GetUserId(User))
        </div>
    }
</div>
